## Q2.A: Sonu_21105110

In [6]:
## Loading Dataset to fit in the Regression Model

import pandas as pd
import numpy as nm
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv("https://raw.githubusercontent.com/itsanikesh03/ME698/main/housing.csv",header = None)


## Scaling data
scaler = MinMaxScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(data))

X = scaled_data.iloc[:,:-1]
Y = scaled_data.iloc[:,13]

#print(X.shape,Y.shape,data.shape,)

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [2]:
## Splitting data into training and testing data

from sklearn.model_selection import train_test_split

xtr,xt,ytr,yt = train_test_split(X,Y,test_size = 0.1,random_state=1)

In [3]:
## Adding a column to calculate Bias

x_train = nm.c_[nm.ones(len(xtr)),xtr]
x_test = nm.c_[nm.ones(len(xt)),xt]

In [4]:
## Training Of Model

W = nm.ones(14)
W_grad = nm.zeros(14)
iteration = 20000
learn_rate = 0.001

for i in range(iteration):
    yp = x_train@W
    n = len(x_train)
    for j in range(len(W)):
        W_grad[j%14] = -(2/n)*sum((x_train[:,j%14])*(ytr-yp))
        W[j%14] = W[j%14] - learn_rate*W_grad[j%14]
    
    MSE = (sum((ytr-yp)**2))/n 
    #print("iter {}, MSE {}".format(i, MSE))

In [5]:
## Predicted Price for given Test set
y_pred = x_test@W

# Scaled test dataset with scaled Price in last column
table=pd.DataFrame(nm.c_[xt,y_pred])

# Table with original test sample containing predicted price in last column
TABLE = pd.DataFrame(scaler.inverse_transform(table))
TABLE.columns = ['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10','X11','X12','X13','Predicted_Y']
# TABLE.head()

Pred_Price = TABLE['Predicted_Y']

In [6]:
# Scaled test table with Target Prices
DATA = pd.DataFrame(scaler.inverse_transform(pd.DataFrame(nm.c_[xt,yt])))
DATA.columns = ['X1','X2','X3','X4','X5','X6','X7','X8','X9','X10','X11','X12','X13','Y']
#  DATA.head()

## Mean Absolute Error
k = len(yt)
MAE = sum(abs(DATA['Y']-TABLE['Predicted_Y']))/k

In [7]:
print("Weights:",W)
print("Predicted Value for test data:",Pred_Price)
print("Mean Absolute Error:",MAE)

Weights: [-0.25394107  0.60672731  0.23654443  0.12416791  0.17800443  0.1990057
  0.63347636  0.03130163  0.33635609 -0.0588429  -0.16863399 -0.03641121
  0.1870645  -0.09087887]
Predicted Value for test data: 0     26.371516
1     29.992318
2     21.666190
3     20.776031
4     14.149673
5     22.582517
6     31.791338
7     20.860234
8     28.380122
9     20.618753
10    19.886938
11    31.665355
12    15.488190
13    27.377991
14    19.804218
15    13.662797
16    19.981706
17    33.291856
18    29.929799
19    17.642758
20    19.437103
21    18.282652
22    24.083473
23    22.948088
24    30.558581
25     9.327225
26    16.904429
27    22.455854
28    31.647129
29    13.046922
30    33.719062
31    21.930229
32    41.965029
33    19.964107
34    18.971149
35    16.848494
36    17.514319
37    28.620847
38     7.720322
39    16.888400
40    19.223952
41    25.183671
42    22.334597
43    12.857505
44    16.973401
45    14.490712
46    40.201787
47    17.752010
48    19.431205
49    12.431590
50    20.290429
Name: Predicted_Y, dtype: float64
Mean Absolute Error: 4.992293775152393